@font-face {
     font-family: bungee-shade-regular;
     src: url('../_fonts/bungee-shade-regular.ttf');
}

form#quiz {
	width: 90%;
	border-radius: 20px;
	font-size: 20px;

}

.titulo{
	font-family: "bungee-shade-regular", sans-serif;
	
}

.texto
{
	font-size: 20px;
	text-align: justify;
}

input {
	margin-bottom: 20px;
	display: block;
	display: inline;
}

#textbox {
	height: 25px;
	font-size: 20px;
	border-radius: 5px;
	border: none;
	padding-left: 5px;
}


#button{
	font-family: "bungee-shade-regular", sans-serif;
	text-decoration: bold;
	background: rgba(0,80,80,0.1);
	border-style: solid;
	border-color: black;
	border-width: 5px;
	border-radius: 5px;
	margin-top: 5px;
	padding: 5px;
	width: 20%;
	color: black;
	font-size: 25px;
	visibility: visible;
	transition-duration: .1s;
}



#button:hover {
	background: black;
	color: white;
	cursor: pointer;

}

#after_submit {
	font-family: "bungee-shade-regular", sans-serif;
	font-size: 20px;
	background: rgba(61,61,61,0.9);
	border-style: solid;
	border-color: black;
	border-width: 5px;
	border-radius: 5px;
	visibility: hidden;
	width: 60%;
}

#picture {
	width: 100%;
	height: 50%;
}


div.quest1
{
	background-color: rgba(255,171,64,0.9);
	border-width: 3px;
	border-color: black;
	border-style: solid;
	border-radius: 5px;
}

div.quest2
{
	background-color: rgba(26,38,61,0.9);
	border-width: 3px;
	border-color: black;
	border-style: solid;
	border-radius: 5px;
}

img#picture{
	border-top-style: solid;
	border-top-color: black;
	border-top-width: 5px;
	
}

form#quiz table tr td{
	font-size: 20px;
	padding-left: 5px;
	padding-right: 10px;
	border-width: 3px;
	border-color: black;
	border-style: solid;
	border-radius: 5px;
	background: rgb(61,61,61);
}

form#quiz table{
	margin-bottom: 10px;
}